* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}
html, body {
  height:100%;
  width:100%
}
main{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: black;
  color:white;
  padding:20px;
}
.box{
  height: 300px;
  width: 300px;
  background:linear-gradient(to right bottom ,crimson,rgb(246, 137, 159));
  margin:20px;
  border-radius: 20px;

}
.circle{
  height: 300px;
  width: 300px;
  margin:20px;
  border-radius: 50%;
  background:linear-gradient(to right bottom ,rgb(22, 144, 165),rgb(147, 203, 207));
}
.container{
  padding: 20px;
  border:3px solid white;
}