/* *{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body{
  height: 100%;
  width: 100%;
} */
/* css-boilerplatecode */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}
html,
body {
  height: 100%;
  width: 100%;
}
body{
  background-color:#111;


}
#string{
  height: 500px;
  width:100%;
  /* background-color: red; */

  padding-left: 45px;

}
/* svg{
  background-color: red;

} */




























































/* #page1{
  height: 100%;
  width: 100%;
  background-color: black;

}
#page2{
  height: 100%;
  width: 100%;
  background-color: lightblue;


}
#page3{
  height: 100%;
  width: 100%;
  background-color:lightblue;

}
body{
  overflow-x:hidden;
}

#page2 h1{
  font-size:40vw;
  text-transform: uppercase;



}

 */





















































































/* #page1 {
  height: 100%;
  width: 100%;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page2 {
  height: 100%;
  width: 100%;
  background-color: rgb(11, 71, 92);
   display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;

}

#page3 {
  height: 100%;
  width: 100%;
  background-color: rgb(11, 24, 28);
   display: flex;
  align-items: center;
  justify-content: center;
}

#box{
  height: 300px;
  width: 300px;
  background-color: crimson;
}
h1
{
  font-size: 60px;
  position: relative;
  background-color: red;
  padding:10px;

}
h2
{
  font-size: 60px;
  position: relative;
  background-color: rgb(193, 212, 27);
padding:10px;
} */
