* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'gilroy';
}
html,
body {
  height: 100%;
  width: 100%;
}
body{
  overflow-x: hidden;
}

section {
  height: 100%;
  width: 100%;
  background-color: azure;
  position: relative;
  padding: 20px 50px;
  padding-bottom: 110px;
}
nav .icon i {
  padding-top: 7px;
  font-size: 40px;
  display: inline-block;
  rotate: 44deg;
}
nav .icon {
  display: flex;
  gap: 9px;
}
nav {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  /* padding:60px 80px; */
  padding-bottom: 60px;
}
.part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
nav h1 {
  font-size: 50px;
}
nav h4 {
  font-size: 25px;
  font-weight: 500;
}
nav button {
  background-color: transparent;
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
  border: 1px solid #000;
}

/* nav bar ends */

.center {
  /* background-color: red; */
  height: 85%;
  width: 100%;
  padding-right: 70px 100px;
  display: flex;
  /* flex-direction: row; */
}
.center-part1 {
  /* background-color:rgb(95, 12, 239); */
  height: 100%;
  width: 40%;
}
.center-part2 {
  /* background-color:rgb(170, 48, 14); */
  height: 100%;
  width: 60%;
  display: flex;

  align-items: center;
  justify-content: center;
  position: relative;
}
.center-part1 h1 {
  line-height: 1.2;
  font-size: 80px;
  /* background-color: red; */
  font-family: 'Work Sans';
}
.center .center-part1 p {
  font-family: 'Work Sans';
  font-size: 30px;
  width: 95%;
  margin-top: 30px;
  margin-bottom: 25px;
}

.center .center-part1 button {
  font-size: 25px;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 22px 40px;
  font-weight: 600;
  border: none;
}
.center-part2 img {
  height: 100%;
  position: absolute;
  right: 0;
}
.section1bottom {
  display: flex;

  align-items: center;
  justify-content: space-around;
  padding: 40px 0px;
  /* padding-bottom: 40px; */
  gap: 40px;
  /* margin-top: 100px; */
}
.section1bottom img {
  /* background-color: red; */
  height: 60px;
}
.section1bottom .jatin {
  padding-top: 5px;
}
/* section 1 ends here */

.section2 .services {
  /* background-color: red; */
  padding: 40px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
}
.services h3 {
  background-color: #b9ff66;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 60px;
}
.services p {
  padding-left: 20px;
  width: 40%;
  font-size: 20px;
  font-weight: 500;
}
.container {
  height: 30%;
  width: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  padding-bottom: -200px;
  /* gap: 80px; */

  /* background-color: red; */
  /* background-color:azure; */
}
.elem {
  height: 320px;
  /* padding-bottom: 40px; */
  width: 47%;
  /* background-color: red; */
  border: 2px solid black;
  border-radius: 50px;
  padding: 60px;
  box-shadow: 0px 14px 0px black;
  display: flex;
}

/* section3 starts */
#section30 {
  /* height: 20px; */
  /* padding-top: 400px; */
  /* margin-top: 250px; */
  padding-top: -400px;
}

.container3 {
  display: flex;
  margin-top: -300px;
  justify-content: space-between;
}
.elem-part1 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.elem-part2 {
  height: 100%;
  width: 50%;
}
.elem-part2 img {
  height: 100%;
}

.elem-part1 h1 {
  font-size: 40px;
  font-weight: 500;
  background-color: #b9ff66;
  font-family: 'Work Sans';
  width: 90%;
  padding: 0 5px;
  border-radius: 10px;
}
.elem-part1 h4 {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  gap: 10px;
  font-family: 'Work Sans';
}
.elem-part1 h4 i {
  padding: 10px;
  background-color: black;
  color: #b9ff66;
  border-radius: 50%;
}
.elem-part1 .black {
  background-color: #ffffff;
  font-weight: bolder;
}

#blackbox {
  background-color: #1f1f1f;
}
#blackbox #sher h4 {
  color: white;
}
#blackbox #sher h4 i {
  background-color: white;
  color: #1f1f1f;
}
