* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}
#page1,
#page2,
#page3 {
  height: 100vh;
  width: 100%;
  padding:5vw 0;
}
#move{
  display: flex;
  background-color: #D8FF07;
  /* height: 200px; */
  padding:3vw 0;
  /* padding-left: 2.8vw; */
  /* gap:2.8vw; */
  overflow: hidden;


  /* flex-direction: row; */
  /* align-items: center; */

}
.marque{
  flex-shrink: 0;
  /* padding-top:40px; */
  display: flex;
  align-items: center;
  gap:3vw;
  padding:0 1 .5vw;
  /* background-color: red; */
  transform: translateX(-100%);


}
.marque h1{
/* padding-left: 2.8vw; */
  text-transform: uppercase;
  font-size: 80px;
  font-family: "Work Sans";

}
.marque img{
  height: 4vw;

}